@import url(http://fonts.googleapis.com/css?family=Ubuntu:300,400,500,700,300italic,400italic,500italic,700italic);

body
{
	font-family: "Ubuntu", Tahoma, "Helvetica Neue", Helvetica, Arial, sans-serif;
	padding-top: 80px;
}

a
{
	color: #3371a5;
}

a:hover, a:focus
{
	color: #193e5f;
}

.navbar-default
{
	background-color: #3371a5;
	border-color: #295d89;
}

.navbar-default .navbar-brand,
.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus
{
	color: white;
	font-weight: 500;
}

.navbar-default .navbar-nav > li > a,
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus
{
	color: white;
}

.navbar-default .navbar-toggle
{
	border-color: white;
}

.navbar-default .navbar-toggle .icon-bar
{
	background-color: white;
}

.jumbotron
{
	margin-top: -50px;
	padding-bottom: 25px;
}

.jumbotron p:first-child
{
	margin-top: 20px;
}

.table-condensed > thead > tr.small > th,
.table-condensed > tbody > tr.small > th,
.table-condensed > tfoot > tr.small > th,
.table-condensed > thead > tr.small > td,
.table-condensed > tbody > tr.small > td,
.table-condensed > tfoot > tr.small > td
{
	padding: 2px 5px;
}