/.idea
/.vagrant
/node_modules
/public/css
/public/fonts
/public/hot
/public/js
/public/storage
/public/mix-manifest.json
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
.DS_Store
Homestead.json
Homestead.yaml
docker-compose.override.yml
npm-debug.log
yarn-error.log
