$brand-primary: #4b6daf;
$brand-info: #5bc0de;
$brand-success: #5cb85c;
$brand-warning: #f0ad4e;
$brand-danger:  #d9534f;
$brand-dark: #343a40;
$brand-light: #f3f3f3;

$font-family-sans-serif: "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
$fa-font-path: "~font-awesome/fonts/";
