@import "variables";
@import "bower_components/materialize/sass/materialize.scss";
@import "bower_components/fontawesome/scss/font-awesome.scss";

@import "modules/multi-column";

body
{
    background-color: color("grey", "darken-4");
    font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

a
{
    color: #3371a5;

    &:hover,
    &:focus
    {
        color: #193e5f;
    }
}

h1
{
    @media (max-width: $medium-screen)
    {
        font-size: 36px;
    }
}

h2
{
    @media (max-width: $medium-screen)
    {
        font-size: 30px;
    }
}

nav
{
    margin-bottom: 20px;

    a
    {
        &,
        &:hover,
        &:focus
        {
            color: white;
        }
    }

    ul > li > a
    {
        &.icon-link
        {
            font-size: 32px;

            @media (max-width: $small-screen)
            {
                font-size: 24px;
            }
        }
    }

    .brand-logo
    {
        left: auto;
        text-align: left;
        transform: none;

        @media (max-width: $small-screen)
        {
            font-size: 18px;
        }
    }
}

.btn
{
    &,
    &:hover,
    &:focus
    {
        color: white;
    }
}

.card.instance-card
{
    height: auto !important;

    .card-image
    {
        background-position: center center;
        background-size: cover;
        text-shadow: 1px 1px 3px #000000;

        .card-title
        {
            padding: 10px;
        }

        .instance-info
        {
            padding: 0 5px;
            text-align: right;
        }
    }
}

.xivdb-icon
{
    border-radius: 4px;
    height: 16px;
    text-align: center;
    vertical-align: middle;
    width: 16px;
}

#loading
{
    padding: 40px 0;
    text-align: center;
}
